<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-reboot.css"/>

    <script type="text/javascript" src="../static/jq/jquery-1.9.1.min.js"></script>

    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>

</head>
<body>
<table class="table table-bordered table-primary" >
    <thead>
    <tr>
        <td>账号</td>
        <td>姓名</td>
    </tr>
    </thead>
    <tbody th:each="user:${users}">
    <tr>
        <td th:text="${user.name}"></td>
        <td th:text="${user.username}"></td>
    </tr>

    <tr></tr>
    </tbody>
</table>
</body>
</html>