<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>主页面-菜单栏</title>
        <link rel="stylesheet" type="text/css" href="../static/zTree/css/zTreeStyle/zTreeStyle.css"/>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"/>
        <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-reboot.css"/>

        <script type="text/javascript" src="../static/jq/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="../static/zTree/js/jquery.ztree.core.js"></script>
        <script type="text/javascript" src="../static/zTree/js/jquery.ztree.all.min.js"></script>
        <script type="text/javascript" src="../static/zTree/demo/ztree.js"></script>

        <script type="text/javascript" src="../static/bootstrap/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
    </head>
    <body>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 column">
                        <div id="treeDemo" class="ztree">
                        </div>
                    </div>
                    <div class="col-xs-4 column">
                    </div>
                    <div class="col-xs-4 column">
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function createTree(url, params, treeId) {
                var zTree; //用于保存创建的树节点
                var setting = { //设置

                    check: {
                        enable: true,
                        chkboxType: {
                            "Y": "ps",
                            "N": "ps"
                        }
                    },
                    edit: {
                        enable: true
                    },
                    view: {
                        showLine: true, //显示辅助线
                        dblClickExpand: true
                    },
                    data: {
                        simpleData: {
                            enable: true,
                            idKey: "id",
                            pIdKey: "pid",
                            rootPId: 0
                        }
                    },
                    callback: {//绑定事件
                        onClick: function (a, b, treeNode) {
                            var page = treeNode.url;
                            if (page != undefined) {//需要打开选项卡
                                //判断当前选项卡是否已经打开
                                var e = $("#tt").tabs("exists", treeNode.name);
                                if (e) {
                                    //已经打开
                                    $("#tt").tabs("select", treeNode.name);
                                } else {
                                    $("#tt")
                                        .tabs(
                                            "add",
                                            {
                                                title: treeNode.name,
                                                content: '<iframe frameborder="0" width="100%" height="100%" src="' + page + '"></iframe>',
                                                closable: true,
                                                iconCls: 'icon-edit'
                                            });
                                }
                            }
                        }
                    }
                };

                $.ajax({ //请求数据,创建树
                    type: 'GET',
                    url: url,
                    data: params,
                    dataType: "json", //返回的结果为json
                    success: function (data) {
                        zTree = $.fn.zTree.init($(treeId), setting, data); //创建树
                    },
                    error: function (data) {
                        alert("创建树失败!");
                    }
                });
            }

            function initTree() {
                var roleId = $("#roleId").val();
                var params = {
                    roleId: roleId
                };
                createTree("/currentFolderList", params, "#treeDemo");//创建  permission/menuData 后台加载数据路由
            }

            initTree();
        </script>
        <script type="text/javascript">
            function saveRoleMenus() {
                var ids = [];
                var roleId = $('#roleId').val();
                // alert(roleId);
                var funcTreeObj = $.fn.zTree.getZTreeObj("treeDemo");
                var checkedObjs = funcTreeObj.getCheckedNodes(true);
                for (var i = 0; i < checkedObjs.length; i++) {
                    if (checkedObjs[i].parent != 0)
                        ids.push(checkedObjs[i].menuId);
                }
                //   alert(ids);
                $.ajax({
                    url: "saveRoleMenus",
                    dataType: "json",
                    traditional: true,
                    //属性在这里设置
                    method: "post",
                    data: {
                        "ids": ids,
                        "roleId": roleId
                    },
                    success: function (data) {
                        document.getElementById("tipContent").innerText = "保存成功";
                        $("#Tip").modal('show');
                        $("#bootstrap-table").bootstrapTable("refresh");
                    },
                    error: function () {
                        document.getElementById("tipContent").innerText = "保存失败";
                        $("#Tip").modal('show');
                    }
                });

            }
        </script>
    </body>
</html>