<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="../static/zTree/css/zTreeStyle/zTreeStyle.css"/>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-reboot.css"/>

    <script type="text/javascript" src="../static/zTree/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../static/zTree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../static/zTree/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../static/zTree/demo/ztree.js"></script>

    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>

</head>
<body>

</body>
</html>