<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!-- css:ztree-->
    <link rel="stylesheet" type="text/css" href="../static/zTree/css/zTreeStyle/zTreeStyle.css"/>
    <!-- css:bootstrap-->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-reboot.css"/>
    <!-- css:bootstrap-addtabs-->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/addtabs/bootstrap.addtabs.css"/>
    <!-- jq:jqurey-->
    <script type="text/javascript" src="../static/jq/jquery-1.9.1.min.js"></script>
    <!-- jq:ztree-->
    <script type="text/javascript" src="../static/zTree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../static/zTree/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../static/zTree/demo/ztree.js"></script>
    <!-- jq:bootstrap-->
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>
    <!-- jq:bootstrap-addtabs-->
    <script type="text/javascript" src="../static/bootstrap/addtabs/bootstrap.addtabs.js"></script>
    <script type="text/javascript">
        $(function () {
            $.addtabs({
                iframeHeight: 320
            });
        })
    </script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand " href="#">后台管理系统</a>
                    </div>
                    <div id="navbar" class="navbar-right">
                        <a class="navbar-brand" href="#">当前用户：<label th:text="${userame}"></label></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" style="padding-top: 45px">
        <div class="col-md-3">
            <div class="list-group">
                <!--激活，作为标题-->
                <div class="container">
                    <div class="list-group-item active ">
                        系统菜单
                    </div>
                    <div id="treeDemo" class="ztree list-group-item">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="layui-body">
                <!-- 内容主体区域 -->
                <iframe th:id="iframe" th:name="iframe" scrolling="no" frameborder="no"></iframe>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-group">
                            <a class="list-group-item" data-addtab="mail" data-url="./ajax/mailbox.txt">mailbox</a>
                            <a class="list-group-item" data-addtab="mail1" data-url="./ajax/mailbox.txt"
                               data-ajax="true">Use
                                Ajax</a>
                            <a class="list-group-item" data-addtab="message" data-url="./ajax/mailbox.txt"
                               data-content="Customize the content">
                                <i class="glyphicon glyphicon-bullhorn"></i>指定内容
                            </a>
                            <a class="list-group-item" data-addtab="setting" data-url="./ajax/mailbox.txt"
                               data-title="Customize the title">
                                <i class="glyphicon glyphicon-cog"></i>指定标题
                            </a>
                            <a class="list-group-item" data-addtab="userMenu1" data-url="./ajax/mailbox.txt">
                                用户菜单1
                            </a>
                            <a class="list-group-item" data-addtab="userMenu2" data-url="./ajax/button.html">
                                用户菜单2
                            </a>
                            <a class="list-group-item" data-addtab="sina" data-url="http://sina.com.cn">
                                新浪
                            </a>
                            <a class="list-group-item" data-addtab="baidu" data-url="http://baidu.com">
                                百度
                            </a>
                            <a class="list-group-item" onclick="Addtabs.closeAll();">
                                关闭所有
                            </a>
                        </ul>
                    </div>
                    <div class="col-sm-9">
                        <div id="tabs">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">I'm a homepage.</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function createTree(url, params, treeId) {
        var zTree; //用于保存创建的树节点
        var setting = { //设置

            check: {
                enable: true,
                chkboxType: {
                    "Y": "ps",
                    "N": "ps"
                }
            },
            edit: {
                enable: true
            },
            view: {
                showLine: true, //显示辅助线
                dblClickExpand: true
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid",
                    rootPId: 0
                }
            },
            callback: {//绑定事件
                onClick: function (a, b, treeNode) {
                    console.log(treeNode)
                    if (treeNode.url) {
                        window.open(treeNode.url, treeNode.name, "iframe");
                    } else {
                        alert("此节点没有链接！")
                    }
                }
            }
        };

        $.ajax({ //请求数据,创建树
            type: 'GET',
            url: url,
            data: params,
            dataType: "json", //返回的结果为json
            success: function (data) {
                zTree = $.fn.zTree.init($(treeId), setting, data); //创建树
            },
            error: function (data) {
                alert("创建树失败!");
            }
        });
    }

    function initTree() {
        var roleId = $("#roleId").val();
        var params = {
            roleId: roleId
        };
        createTree("/currentFolderList", params, "#treeDemo");//创建  permission/menuData 后台加载数据路由
    }

    initTree();
</script>
</html>