<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="../static/zTree/css/zTreeStyle/zTreeStyle.css"/>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-grid.css"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-reboot.css"/>

    <script type="text/javascript" src="../static/jq/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../static/zTree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../static/zTree/js/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="../static/zTree/demo/ztree.js"></script>

    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="../static/bootstrap/js/bootstrap.js"></script>

</head>
<style type="text/css">
    body {
        padding: 20px;
    }

    .headLeft {
        float: left;
    }

    .headRight {
        padding-top: 40px;
        padding-left: 340px;
    }

    .search {
        margin-bottom: 10px;
    }

    .search .toolbar {
    }
</style>
<!--必须使用较新版本的BootStrap才有如下效果-->

<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand " href="#">后台管理系统</a>
                    </div>
                    <div id="navbar" class="navbar-right">
                        <a class="navbar-brand" href="#">当前用户：<label th:text="${username}"></label></a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" style="padding-top: 45px">
        <div class="col-md-3">
            <div class="list-group">
                <!--激活，作为标题-->
                <div class="container">
                    <div class="list-group-item active ">
                        系统菜单
                    </div>
                    <div id="treeDemo" class="ztree list-group-item">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="layui-body">
                <!-- 内容主体区域 -->
                    <iframe th:id="iframe" th:name="iframe"  scrolling="no" frameborder="no" ></iframe>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function createTree(url, params, treeId) {
        var zTree; //用于保存创建的树节点
        var setting = { //设置

            check: {
                enable: true,
                chkboxType: {
                    "Y": "ps",
                    "N": "ps"
                }
            },
            edit: {
                enable: true
            },
            view: {
                showLine: true, //显示辅助线
                dblClickExpand: true
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid",
                    rootPId: 0
                }
            },
            callback: {//绑定事件
                onClick: function (a, b, treeNode) {
                    console.log(treeNode)
                    if(treeNode.url){
                        window.open(treeNode.url,treeNode.name,"iframe");
                    }else{
                        alert("此节点没有链接！")
                    }
                }
            }
        };

        $.ajax({ //请求数据,创建树
            type: 'GET',
            url: url,
            data: params,
            dataType: "json", //返回的结果为json
            success: function (data) {
                zTree = $.fn.zTree.init($(treeId), setting, data); //创建树
            },
            error: function (data) {
                alert("创建树失败!");
            }
        });
    }

    function initTree() {
        var roleId = $("#roleId").val();
        var params = {
            roleId: roleId
        };
        createTree("/currentFolderList", params, "#treeDemo");//创建  permission/menuData 后台加载数据路由
    }

    initTree();
</script>
</html>